* 
{
    box-sizing: border-box;
}

body
{
    background-color: rgb(232, 213, 250);
    height: 100%;
    margin: 0;
    padding: 0;
}

.topbar 
{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: left;
    box-shadow: 0 5px #3b0b0bc2;
    background-color: #831818;
    text-align: left;
    gap: 37px;
}

.topbar p
{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

nav
{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-left: 420px;
}

nav button 
{
    background-color: transparent;
    border: none;
    padding: 5px 20px 8px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: white;

}
nav button:hover
{
    box-shadow: 0 4px #c24e4e;
    font-weight: bold;
}

/* Home Page */
.home-title
{
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}
.home-paragraph
{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}